<div id="recipes-container">
    <md-card *ngFor="let r of recipes" class="recipe-card">
        <md-card-subtitle>Subtitle first</md-card-subtitle>
        <md-card-title>{{ r.name }}</md-card-title>
        <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>
        <md-card-actions>
            <button (click)="onShow(r.name)" md-raised-button color="primary">SHOW</button>
            <button md-raised-button color="accent">SHARE</button>
        </md-card-actions>
    </md-card>
</div>

<button md-fab id="recipes-add-new">
    <md-icon class="md-24">add</md-icon>
</button>

